<h1>The List EJS Application</h1>
<hr />
<% if (errors) {
    errors.forEach((err) => { %>
      <div>Error: <%= err %></div>
  <% }) } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div>Info: <%= msg %></div>
  <% }) } %>